<style>
	input#custom{
   background: #888 !important;
   border: none !important;
   color: #000 !important;
}
tr.spaceunder > td
{
  padding-bottom: 1em;
}
</style>
<section class="space-details">
	<div class="phonespacing" style="padding-top: 4.5%;">
		<ol class="breadcrumb">
			<li class="active"><i class="fa fa fa-bookmark"></i> Home</li>
			<li class="active">Add Listing</li>
		</ol>
	</div>
	<div id=radiobuttons>
		<form name='mcForm'>
			<table width="100%">
				<tr class="spaceunder">
					<td style="width: 20%">Location</td>
					<td colspan="4"><div>
							<input class="form-control locationservice" placeholder="Enter your Address"
								type="text" id="txtLocation" onFocus="geolocate()">
						</div></td>
				</tr>

				<tr class="spaceunder">
					<td style="width: 20%">Types of Spaces</td>
					<td colspan="2"><input type='radio' name='mcq' id='radio-choice-1'
						value='1' /> <label for="radio-choice-1" onclick="">Parking
							Space 1</label></td>
					<td colspan="2"><input type='radio' name='mcq' id='radio-choice-2'
						value='2' /> <label for="radio-choice-2" onclick="">Lockup
							or Garage 2</label></td>
				</tr>

				<tr class="spaceunder">
					<td style="width: 20%">Description</td>
					<td colspan="4"><div>
							<textarea style="width: 100%; height: 20%" placeholder="Please enter a description of your space, including its location, nearby landmarks or stations, and details about the type of space (driveway, underground parking, lock-up garage etc)" name="post_booking_info" rows="2" aria-invalid="false"></textarea>
						</div></td>
				</tr>

				<tr class="spaceunder">
					<td style="width: 20%">No of Spaces</td>
					<td colspan="4"><div>
							<input style="width: 20%" type="number" name="quantity" min="1" max="9">
						</div></td>
				</tr>

				<tr>
					<td style="width: 20%">Type of Rental</td>
					<td colspan="2"><input type='radio' name='rental-mcq' id='rental-radio-choice-1'
						value='1' /> <label for="rental-radio-choice-1" onclick="">Daily</label></td>
					<td colspan="2"><input type='radio' name='rental-mcq' id='rental-radio-choice-2'
						value='2' /> <label for="rental-radio-choice-2" onclick="">Weekly</label></td>
				</tr>

				<tr class="spaceunder">
					<td style="width: 20%"></td>
					<td colspan="2"><input type='radio' name='rental-mcq' id='rental-radio-choice-3'
						value='3' /> <label for="rental-radio-choice-3" onclick="">Monthly</label></td>
				</tr>
				
				<tr>
					<td style="width: 20%">Features</td>
					<td style="width: 20%"><label for="checkbox-radio-choice-1" onclick="">
						<input type='checkbox' name='checkbox-mcq' id='checkbox-radio-choice-1'
						value='1' /> 24/7 Access</label></td>
					<td style="width: 20%"><label for="checkbox-radio-choice-2" onclick="">
						<input type='checkbox' name='checkbox-mcq' id='checkbox-radio-choice-2'
						value='2' /> Sheltered Parking</label></td>
					<td style="width: 20%"><label for="checkbox-radio-choice-3" onclick="">
						<input type='checkbox' name='checkbox-mcq' id='checkbox-radio-choice-3'
						value='3' /> Security Gates</label></td>
					<td style="width: 20%"><label for="checkbox-radio-choice-4" onclick="">
						<input type='checkbox' name='checkbox-mcq' id='checkbox-radio-choice-4'
						value='4' /> Arranged Transfer</label></td>
				</tr>
				
				<tr>
					<td style="width: 20%"></td>
					<td style="width: 20%"><label for="checkbox-radio-choice-5" onclick="">
						<input type='checkbox' name='checkbox-mcq' id='checkbox-radio-choice-5'
						value='5' /> Allocated Space</label></td>
					<td style="width: 20%"><label for="checkbox-radio-choice-6" onclick="">
						<input type='checkbox' name='checkbox-mcq' id='checkbox-radio-choice-6'
						value='6' /> Car Wash</label></td>
					<td style="width: 20%"><label for="checkbox-radio-choice-7" onclick="">
						<input type='checkbox' name='checkbox-mcq' id='checkbox-radio-choice-7'
						value='7' /> CCTV</label></td>
					<td style="width: 20%"><label for="checkbox-radio-choice-8" onclick="">
						<input type='checkbox' name='checkbox-mcq' id='checkbox-radio-choice-8'
						value='8' /> Security Lighting</label></td>
				</tr>
				
				<tr class="spaceunder">
					<td style="width: 20%"></td>
					<td style="width: 20%"><label for="checkbox-radio-choice-9" onclick="">
						<input type='checkbox' name='checkbox-mcq' id='checkbox-radio-choice-9'
						value='9' /> Security Guards</label></td>
					<td style="width: 20%"><label for="checkbox-radio-choice-10" onclick="">
						<input type='checkbox' name='checkbox-mcq' id='checkbox-radio-choice-10'
						value='10' /> Security Key</label></td>
					<td style="width: 20%"><label for="checkbox-radio-choice-11" onclick="">
						<input type='checkbox' name='checkbox-mcq' id='checkbox-radio-choice-11'
						value='11' /> Underground Parking</label></td>
					<td style="width: 20%"><label for="checkbox-radio-choice-12" onclick="">
						<input type='checkbox' name='checkbox-mcq' id='checkbox-radio-choice-12'
						value='12' /> Restrooms</label></td>
				</tr>
				
				<tr class="spaceunder">
					<td style="width: 20%">Additional Post Booking Instructions</td>
					<td colspan="4"><div>
							<textarea style="width: 100%; height: 20%" placeholder="Please provide the full address of the parking space along with any additional details required to access the space (e.g. contact details for collecting a permit, key fob etc)." id="post_booking_info" name="post_booking_info" rows="2" aria-invalid="false"></textarea>
						</div></td>
				</tr>
				<!-- <tr>
					<td style="width: 20%">Features</td>
					<td><input type='radio' name='mcq' id='radio-choice-1'
						value='1' /> <label for="radio-choice-1" onclick="">Daily</label></td>
					<td><input type='radio' name='mcq' id='radio-choice-2'
						value='2' /> <label for="radio-choice-2" onclick="">Weekly</label></td>
						<td><input type='radio' name='mcq' id='radio-choice-2'
						value='2' /> <label for="radio-choice-3" onclick="">Monthly</label></td>
				</tr> -->

			</table>
		</form>
	</div>

	
</section>