<!DOCTYPE html>
<html ng-app="myAvailability">
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.0/jquery.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	 <script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/highcharts-3d.js"></script>
	<style>
	.chartclass{
		width: 750px; height: 400px; margin-top: 10%;margin-left:10%;
	}
</style>
</head>
<body>
<div ng-controller="availabilityController" ng-init="init()">
<form>
      <div id="container" class="chartclass"></div>
</form>
</div>
</body>
<script>
(function(){ 
	var count1=0,
		count2=0,
		count3=0,
		count4=0
		count5=0,
		count6=0,
		count7=0;
	
	angular.module('myAvailability', []);                                     

	angular.module('myAvailability').controller('availabilityController',function($scope,$http,$location){
		var spotid=1;
		
		$scope.init = function() {
			loadChartValues();
		};
		
		function loadChartValues(){
			$http({
	            method: 'GET',
	            url: '/loadavailabilitychart?spotid='+spotid
	        }).success(function(response){
	        	 console.log(JSON.stringify(response));
	        	$.map( response, function( obj,i){
	        		console.log(obj.startday);
	     	        if(obj.startday==="Sunday") 
	     	        	count1=count1+1;
	     	        else if(obj.startday==="Monday")
	     	        	count2=count2+1;
	     	        else if(obj.startday==="Tuesday")
	     	        	count3=count3+1;
	     	       	else if(obj.startday==="Wednesday")
	     	       		count4=count4+1;
	     	       	else if(obj.startday==="Thursday")
	     	       		count5=count5+1;
	     	       	else if(obj.startday==="Friday")
	     	       		count6=count6+1;
	     	       	else if(obj.startday==="Saturday")
	     	       		count7=count7+1;	
	     		})
	     		var chartVal=[count1,count2,count3,count4,count5,count6,count7];
	        	  console.log(chartVal);
		          createChart(chartVal);
	         }).error(function(error){
	        	 alert(error);
	    	});
		}
		
		function createChart(chartVal){
			$(function () {
				 $('#container').highcharts({
				        chart: {
				            type: 'column',
				            options3d: {
				                enabled: true
				               
				            }
				        },
				        title: {
				            text: 'Space Availability'
				        },
				        credits:{
				        	enabled:false
				        },
				        subtitle: {
				            text: null
				        },
				        plotOptions: {
				            column: {
				                depth: 25,
				                pointWidth:50
				            }
				        },
				        xAxis: {
				            categories: Highcharts.getOptions().lang.weekdays  
				        },
				        yAxis: {
				        	allowDecimals:false,
				            title: {
				                text: null
				            }
				        },
				        series: [{
				            name: 'Reservations',
				            data: chartVal
				        }]
				    });

			});
		} 
	});
})();
</script>
</html>