<link media="all" type="text/css" rel="stylesheet"
	href="/stylesheets/css/font-awesome.css">
<link media="all" type="text/css" rel="stylesheet"
	href="/stylesheets/css/app.css">
<link media="all" type="text/css" rel="stylesheet"
	href="/stylesheets/css/app-blessed1.css">
<link href="/stylesheets/css/main.css" rel="stylesheet" type="text/css">
<div ng-controller="bookingModule">
	<div class="phonespacing" style="padding-top: 4.8%;">
		<!--<h3 class="page-header">Search</h3> -->
		<ol class="breadcrumb">
			<li class="active"><i class="fa fa fa-bookmark"></i> Home</li>
			<li class="active">Bookings</li>
		</ol>
	</div>
	<div class="page-accountlandlorddashboard main-padding"
		style="margin-top: -1%;">
		<div id="content">
			<div id="content-nav-slide">
				<main>
				<div class="container">
					<div class="row">
						<aside class="sidemenu">
							<h2>Navigation</h2>
							<ul>
								<li ng-click="overview();"><a onclick="togglenav(this);" href="javascript:void(0)" class="bookingnav active"> <i
										class="fa fa-bar-chart"></i> <span>Overview</span> <i
										class="fa fa-chevron-right"></i>
								</a></li>
								<li ng-click="history();"><a onclick="togglenav(this);" class="bookingnav" href="javascript:void(0)"> <i
										class="fa fa-list-ul"></i> <span>My Listings</span> <i
										class="fa fa-chevron-right"></i>
								</a></li>
								<li ng-click="mybooking();"><a onclick="togglenav(this);" class="bookingnav" href="javascript:void(0)"> <i
										class="fa fa-calendar"></i> <span>My Bookings</span> <i
										class="fa fa-chevron-right"></i>
								</a></li>
								<li><a onclick="togglenav(this);" class="bookingnav" href="javascript:void(0)"> <i
										class="fa fa-credit-card"></i> <span>Payment
											Preferences</span> <i class="fa fa-chevron-right"></i>
								</a></li>
							</ul>
						</aside>
						<section class="content">
							<div ng-include src="bookingtemplate.url"></div>
						</section>
					</div>
				</div>
				</main>
			</div>
		</div>
	</div>
</div>
