<section class="content">
	<h1>
		<i class="fa fa-calendar"></i> My Bookings
	</h1>
	<div class="section recent">
		<h2>Recent Bookings</h2>
		<div class="bookings-breakdown">
			<div class="status status_active">0 Active</div>
			<div class="status status_complete">0 Complete</div>
		</div>
		<div class="ftable">
			<div class="frow fcol-non-mobile">
				<div class="fcol">Customer</div>
				<div class="fcol">From</div>
				<div class="fcol">To</div>
				<div class="fcol">Status</div>
				<div class="fcol">Vehicle Reg</div>
				<div class="fcol">Price</div>
			</div>
		</div>

		<div class="viewTenantInfoModals"></div>
	</div>
</section>