<section class="content">
	<h1>
		<i class="fa fa-calendar"></i> My Bookings
	</h1>

	<table class="table table-inverse table-striped table-bordered">
		<thead class="thead-inverse">
			<tr>
				<th>Image</th>
				<th>Address</th>
				<th>Status</th>
				<th><div align="center">Action</div></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td style="width: 20%"><div align="center" class="image">
						<img style="width: 40%; height: 40%;"
							src="https://static.yourparkingspace.co.uk/8963d0b7ecca07ef6fd89760ee6378e3.jpeg"
							alt="Parking on 84 N 7th Street, ">
					</div></td>
				<td style="width: 40%"><div align="center">Parking on 84
						N 7th Street, 84 N 7th Street, San Jose, 95112</div></td>
				<td><div align="center" class="status status_active">
						<span class="label label-success">Active</span>
					</div>


					<div align="center" class="price">
						<strong>Monthly Price:</strong> £10.00
					</div></td>
				<td><div class="button-outer" align="center">
						<button type="button" data-toggle="collapse"
							data-target="#actions0" aria-expanded="false"
							aria-controls="actions0">
							<i class="fa fa-cog"></i> Actions
						</button>
					</div></td>
			</tr>
			<tr>
				<td style="width: 20%"><div align="center" class="image">
						<img style="width: 40%; height: 40%;"
							src="https://static.yourparkingspace.co.uk/8963d0b7ecca07ef6fd89760ee6378e3.jpeg"
							alt="Parking on 84 N 7th Street, ">
					</div></td>
				<td style="width: 40%"><div align="center">Parking on 84
						N 7th Street, 84 N 7th Street, San Jose, 95112</div></td>
				<td><div align="center" class="status status_active">
						<span class="label label-success">Active</span>
					</div>


					<div align="center" class="price">
						<strong>Monthly Price:</strong> £10.00
					</div></td>
				<td><div class="button-outer" align="center">
						<button type="button" data-toggle="collapse"
							data-target="#actions0" aria-expanded="false"
							aria-controls="actions0">
							<i class="fa fa-cog"></i> Actions
						</button>
					</div></td>
			</tr>
			<tr>
				<td style="width: 20%"><div align="center" class="image">
						<img style="width: 40%; height: 40%;"
							src="https://static.yourparkingspace.co.uk/8963d0b7ecca07ef6fd89760ee6378e3.jpeg"
							alt="Parking on 84 N 7th Street, ">
					</div></td>
				<td style="width: 40%"><div align="center">Parking on 84
						N 7th Street, 84 N 7th Street, San Jose, 95112</div></td>
				<td><div align="center" class="fcol column_status">
						<div class="status status_active">
							<span class="label label-success">Active</span>
						</div>
					</div>
					<div align="center" class="price">
						<strong>Monthly Price:</strong> £10.00
					</div></td>
				<td><div class="button-outer" align="center">
						<button type="button" data-toggle="collapse"
							data-target="#actions0" aria-expanded="false"
							aria-controls="actions0">
							<i class="fa fa-cog"></i> Actions
						</button>
					</div></td>
			</tr>
		</tbody>
	</table>
</section>