<section class="content">
	<h1>
		<i class="fa fa-calendar"></i> My Bookings
	</h1>
	<div class="listings">
		<div class="listing">
			<div class="image">
				<img
					src="https://static.yourparkingspace.co.uk/8963d0b7ecca07ef6fd89760ee6378e3.jpeg"
					alt="Parking on 84 N 7th Street, ">
			</div>
			<div class="content">
				<h2>Parking on 84 N 7th Street,</h2>
				<p>84 N 7th Street, San Jose, 95112</p>
				<div class="details">
					<div class="status status_active">
						<span class="space-status" data-space-visibility="active"
							data-space-id="20483298" href="#">Active</span>
					</div>


					<div class="price">
						<strong>Monthly Price:</strong> £10.00
					</div>
				</div>
			</div>
			<div class="actions">
				<div class="button-outer">
					<button type="button" data-toggle="collapse"
						data-target="#actions0" aria-expanded="false"
						aria-controls="actions0">
						<i class="fa fa-cog"></i> Actions
					</button>
				</div>
				<div class="collapse" id="actions0">
					<div class="button-outer">
						<a
							href="https://www.yourparkingspace.co.uk/list-your-space/20483298/edit">
							Edit </a>
					</div>
					<div class="button-outer">
						<a
							href="https://www.yourparkingspace.co.uk/list-your-space/20483298/availability">
							Availability </a>
					</div>
					<div class="button-outer">
						<a
							href="https://www.yourparkingspace.co.uk/list-your-space/20483298/photos">
							Pictures (0) </a>
					</div>
					<div class="button-outer">
						<a
							href="https://www.yourparkingspace.co.uk/account/landlord/listings/20483298/disable">Disable</a>
					</div>
					<div class="button-outer">
						<a
							href="https://www.yourparkingspace.co.uk/locations/show/20483298">
							View Space </a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>