<style>
	.glyphicon-star, .glyphicon-star-empty {
	  		color:orange;
		  }
</style>
<div ng-controller="reviewController" ng-init="init()">
		<h1>
			<i class="fa fa-list-ul"></i> Reviews
		</h1>
		<form>
		<div style="margin-top: 2%;padding-left: 2%;">
		 <div style="vertical-align: top;margin-top: 2%">
			     <div style="border:1 solid black;"><button type="button" class="btn btn-warning btn-lg" data-toggle="modal" data-target="#myModalReview"  data-backdrop="static" 
  					 data-keyboard="false">Add Review</button></div>
	    </div>
	    <table style="margin-top: 2%">
			   <tr>
			   <td align='left' width="60%">
			   <div>
				    <div class="panel panel-primary" style="width:98%;" ng-repeat="reviewVal in reviews" >
				    	   	<div class="panel-heading">
				 			 	<label class="panel-title" ng-model="reviewVal.username">{{reviewVal.username}} 
				 			 	<uib-rating ng-model="reviewVal.rating" max="5" read-only="true"></uib-rating>
				 			 	</label>
				 			 	
				 			</div>
							<div class="panel-body">
							 	<label ng-model="reviewVal.review">{{reviewVal.review}}</label>
							</div>
					 </div>
				</div>
				 </td>  
		  		 <td align='left' style="padding-left: 8%;" width="40%">
		  		 	<h1>Ratings Distribution</h1>
			    	<div id="chart" align="left">
  					</div>
		  		</td>  
			   </tr>
		</table>
		</div>
		</form>
		<div class="modal fade" id="myModalReview" role="dialog" style="z-index: 1500">
		    <div class="modal-dialog modal-sm">
		      <div class="modal-content">
		        <div class="modal-header">
		          <button type="button" class="close" data-dismiss="modal" ng-click="reloadData()">&times;</button>
		          <h4 class="modal-title" id="reviewresult">Please enter a rating and review!!!</h4>
		        </div>
		        <div class="modal-body" id="reviewbody">
		             <div style="border:1 solid black;"><uib-rating ng-model="newRating" max="5" id="newRtng" ng-required="true"></uib-rating></div>
			    	 <div style="border:1 solid black;"><textarea rows="5" cols="35" ng-model="newReview" id="newRvw" ng-required="true"></textarea></div>
			    	 <div style="border:1 solid black;"><button type="button" class="btn btn-primary" ng-click="submit()">Submit</button></div>
		        </div>
		        <div class="modal-footer">
		          <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="reloadData()">Close</button>
		        </div>
		      </div>
		    </div>
		  </div>
	</div>